.icon-pause{
	 background-image: url(icons/control_pause_blue.png)!important; 
}
.icon-resume{
	background-image: url(icons/control_play_blue.png)!important; 
}
.icon-add{
	background-image: url(icons/add.png)!important; 
}
.icon-delete{
	background-image: url(icons/delete.png)!important; 
}
.icon-back{
	background-image: url(icons/application_side_contract.png)!important; 
}
.icon-detail{
	background-image: url(icons/magnifier.png)!important; 
}
.icon-leaf{
	background-image: url(icons/sys.png)!important; 
	background-size:16px 16px;
}
.icon-expand{
	background-image: url(icons/bullet_add.png)!important; 
}
.icon-collapse{
	background-image: url(icons/bullet_delete.png)!important; 
}
.icon-export{
	background-image: url(icons/export.png)!important; 
	background-size:16px 16px;
} 
.icon-pie{
	background-image: url(icons/chart_pie.png)!important; 
}
.icon-bar{
	background-image: url(icons/chart_bar.png)!important; 
}
.icon-line{
	background-image: url(icons/chart_curve.png)!important; 
}
.icon-go{
	background-image: url(icons/application_side_expand.png)!important; 
}