<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<context:component-scan base-package="xgt.easy.*.controller"/>
	
	<mvc:resources mapping="/**/*.js" location="/" />
	<mvc:resources mapping="/**/*.png" location="/" />
	<mvc:resources mapping="/**/*.jpg" location="/" />
	<mvc:resources mapping="/**/*.jpeg" location="/" />
	<mvc:resources mapping="/**/*.gif" location="/" />
	<mvc:resources mapping="/**/*.tif" location="/" />
	<mvc:resources mapping="/**/*.tiff" location="/" />
	<mvc:resources mapping="/**/*.css" location="/" />
	<mvc:resources mapping="/**/*.json" location="/" />
	
	
	<mvc:annotation-driven>
		<mvc:message-converters>  
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>  
	    </mvc:message-converters>  
	</mvc:annotation-driven>
	
	<!--配置拦截器, 多个拦截器,顺序执行 -->  
	<mvc:interceptors>    
	    <mvc:interceptor>    
	        <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->  
	        <mvc:mapping path="/**" />  
	        <bean class="xgt.easy.sys.interceptor.SessionInterceptor">
	        	<property name="igores">
		            <list>
		                <value>/login.do</value>
		            </list>
		        </property>
	        </bean>    
	    </mvc:interceptor>  
	    <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->  
	    
	    <mvc:interceptor>    
	        <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->  
	        <mvc:mapping path="/**" />  
	        <bean class="org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor">  
	          <property name="sessionFactory" ref="sessionFactory" />  
	        </bean>
	    </mvc:interceptor>  
	</mvc:interceptors>  

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" />
	
	
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- Set file upload max size 10MB -->
		<property name="maxUploadSize">
			<value>10000000</value>
		</property>
	</bean>
</beans>